In [1]:
!pip install pandas==0.22.0
!pip install numpy==1.14.6
!pip install matplotlib==2.1.2

Requirement already satisfied: pandas==0.22.0 in /usr/local/lib/python3.6/dist-packages (0.22.0)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from pandas==0.22.0) (1.14.6)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas==0.22.0) (2018.9)
Requirement already satisfied: python-dateutil>=2 in /usr/local/lib/python3.6/dist-packages (from pandas==0.22.0) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2->pandas==0.22.0) (1.12.0)
Requirement already satisfied: numpy==1.14.6 in /usr/local/lib/python3.6/dist-packages (1.14.6)
Requirement already satisfied: matplotlib==2.1.2 in /usr/local/lib/python3.6/dist-packages (2.1.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (2.4.7)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (1.12.0)
Requirement already satisfied: pytz in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (2018.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (0.10.0)
Requirement already satisfied: numpy>=1.7.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (1.14.6)

▲库的版本变更

In [2]:
import sys
import pandas
import numpy
import matplotlib
print('python version : ', sys.version_info[0:3])
print('pandas version : ', pandas.__version__)
print('numpy version : ', numpy.__version__)
print('matplotlib version : ', matplotlib.__version__)

python version :  (3, 6, 9)
pandas version :  0.22.0
numpy version :  1.14.6
matplotlib version :  2.1.2

▲Python和库的版本输出

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


▲预先执行的代码

In [4]:
df = pd.DataFrame([[1,2,3],[4,5,6]])
df

   0  1  2
0  1  2  3
1  4  5  6

In [5]:
print(df.index)
print(df.columns)

RangeIndex(start=0, stop=2, step=1)
RangeIndex(start=0, stop=3, step=1)

▲ 程序清单 2.74 Index 对象的确认

In [6]:
idx = pd.Index([1,2,3,4,5])
idx

Int64Index([1, 2, 3, 4, 5], dtype='int64')

In [7]:
type(idx)

pandas.core.indexes.numeric.Int64Index

▲ 程序清单 2.75 Index 对象的构造函数

In [8]:
print(idx[0])
print(idx[1:3])

1
Int64Index([2, 3], dtype='int64')

▲ 程序清单 2.76 Index 对象的索引引用

In [9]:
idx[0] = 1

TypeError: ignored

▲ 程序清单 2.77 Index 对象不可变

In [15]:
idx1 = pd.Index([1,7,2,3,5])
idx2 = pd.Index([3,4,1,5,6])

print(idx1 & idx2)
print(idx1 | idx2)

Int64Index([1, 3, 5], dtype='int64')
Int64Index([1, 2, 3, 4, 5, 6, 7], dtype='int64')

▲ 程序清单 2.78 Index 对象的运算

In [16]:
set_obj = {1,1,2,2,4,5}
idx3 = pd.Index([1,1,2,2,4,5])

print(set_obj)
print(idx3)

{1, 2, 4, 5}
Int64Index([1, 1, 2, 2, 4, 5], dtype='int64')

▲ 程序清单 2.79 Index 对象可以包含重复的值

In [17]:
df1 = pd.DataFrame([1,2,3,4,5])
df1.index

RangeIndex(start=0, stop=5, step=1)

▲程序清单 2.80 生成 RangeIndex 对象的索引

In [18]:
idx = pd.RangeIndex(start=0, stop=5, step=1)
idx

RangeIndex(start=0, stop=5, step=1)

▲ 程序清单 2.81 RangeIndex 类的构造函数

In [19]:
df2 = pd.DataFrame([1,2,3,4,5],index=[0,1,2,3,4])
df2.index

Int64Index([0, 1, 2, 3, 4], dtype='int64')

▲ 程序清单 2.82 Int64Index 对象的创建

In [20]:
idx_date = pd.DatetimeIndex(
    freq='D',
    start='2018-12-28',
    end='2019-01-05'
)

idx_date

DatetimeIndex(['2018-12-28', '2018-12-29', '2018-12-30', '2018-12-31',
               '2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05'],
              dtype='datetime64[ns]', freq='D')

▲ 程序清单 2.83 DatetimeIndex 对象的生成

In [21]:
df_date = pd.DataFrame([1,2,3,4,5,6,7,8,9], index=idx_date)
df_date

            0
2018-12-28  1
2018-12-29  2
2018-12-30  3
2018-12-31  4
2019-01-01  5
2019-01-02  6
2019-01-03  7
2019-01-04  8
2019-01-05  9

▲ 程序清单 2.84 创建包含 DatetimeIndex 对象的 DataFrame 对象

In [22]:
df_date['2019']

            0
2019-01-01  5
2019-01-02  6
2019-01-03  7
2019-01-04  8
2019-01-05  9

▲程序清单 2.85 DatetimeIndex 对象的索引引用

In [23]:
idx = pd.Index([1,2,3,4,np.nan])
print(idx.size)

5

▲ 程序清单 2.86 Index 对象的 size 属性

In [24]:
idx_int = pd.Index([1,2,3])
idx_float = pd.Index([0.1,0.2,0.3])
idx_obj = pd.Index([1,'a',0.1])

print(idx_int.dtype)
print(idx_float.dtype)
print(idx_obj.dtype)

int64
float64
object

▲ 程序清单 2.87 Index 对象的 dtype 属性

In [25]:
idx_arr = pd.Index([1,2,3])
print(type(idx_arr))
print(type(idx_arr.values))

<class 'pandas.core.indexes.numeric.Int64Index'>
<class 'numpy.ndarray'>

▲ 程序清单 2.88 Index 对象的 values 属性

In [26]:
idx = pd.Index([1,2,2])
print(idx.is_unique)

False

▲ 程序清单 2.89 Index 对象的 is_unique 属性

In [27]:
val = [[1,2,3],[4,5,6],[7,8,9]]
df = pd.DataFrame(val,index=[0,2,4],columns=['a','b','c'])
df

   a  b  c
0  1  2  3
2  4  5  6
4  7  8  9

▲ 程序清单 2.90 DataFrame 对象的创建

In [28]:
df = df.reindex([0,1,2,3,4])
df

     a    b    c
0  1.0  2.0  3.0
1  NaN  NaN  NaN
2  4.0  5.0  6.0
3  NaN  NaN  NaN
4  7.0  8.0  9.0

▲ 程序清单 2.91 使用 reindex 方法重建索引

In [29]:
df.index = [5,6,7,8,9]
df

     a    b    c
5  1.0  2.0  3.0
6  NaN  NaN  NaN
7  4.0  5.0  6.0
8  NaN  NaN  NaN
9  7.0  8.0  9.0

▲ 程序清单 2.91 使用 reindex 方法重建索引

In [30]:
df = df.reindex(columns=['a','b','c','d'])
df

     a    b    c   d
5  1.0  2.0  3.0 NaN
6  NaN  NaN  NaN NaN
7  4.0  5.0  6.0 NaN
8  NaN  NaN  NaN NaN
9  7.0  8.0  9.0 NaN

▲ 程序清单 2.93 使用 reindex 方法重建列标签

In [31]:
df = df.reindex([5,6,7,8,9,10], method='ffill')
df

      a    b    c   d
5   1.0  2.0  3.0 NaN
6   NaN  NaN  NaN NaN
7   4.0  5.0  6.0 NaN
8   NaN  NaN  NaN NaN
9   7.0  8.0  9.0 NaN
10  7.0  8.0  9.0 NaN

▲ 程序清单 2.94 基于 reindex 方法的 ffill 填充

In [32]:
idx = pd.Index([5,1,3,4,2])
print(idx)
print(idx.sort_values())
print(idx.sort_values(ascending=False))

Int64Index([5, 1, 3, 4, 2], dtype='int64')
Int64Index([1, 2, 3, 4, 5], dtype='int64')
Int64Index([5, 4, 3, 2, 1], dtype='int64')

▲ 程序清单 2.95 Index 对象的 sort_values 方法

In [33]:
idx = pd.Index([['咦','啊','唔'])
print(idx.sort_values())

Index([['咦','啊','唔'], dtype='object')

▲ 程序清单 2.96 使用 sort_values 方法对字符串进行排序

In [34]:
ser = pd.Series([1,2,3], index=idx)
ser

咦    1
啊    2
唔    3
dtype: int64

▲ 程序清单 2.97 Series 对象的 sort_index 方法

In [35]:
idx1 = pd.Index([1,1,2,3,4,5])
idx2 = pd.Index([1,2,3,4,5,6])

print(idx1.is_unique)
print(idx2.is_unique)

False
True

In [36]:
ser.sort_index()

咦    2
啊    1
唔    3
dtype: int64

▲程序清单 2.98 Index 对象的 is_unique 属性

In [37]:
print(idx1)
print(idx1.duplicated(keep=False))

Int64Index([1, 1, 2, 3, 4, 5], dtype='int64')
[ True  True False False False False]

▲ 程序清单 2.99 Index 对象的 duplicated 方法

In [38]:
idx1.drop_duplicates(keep=False)

Int64Index([2, 3, 4, 5], dtype='int64')

▲ 程序清单 2.100 Index 对象的 drop_duplicates 方法

In [39]:
idx = pd.Index([1,np.nan,3])
print(idx.hasnans)

True

▲ 程序清单 2.101 Index 对象的 hasnans 属性

In [40]:
idx.isna()

array([False,  True, False])

In [41]:
idx.dropna()

Float64Index([1.0, 3.0], dtype='float64')

▲ 程序清单 2.102 isna 方法与 dropna 方法