In [1]:
!pip install pandas==0.22.0
!pip install numpy==1.14.6
!pip install matplotlib==2.1.2

Requirement already satisfied: pandas==0.22.0 in /usr/local/lib/python3.6/dist-packages (0.22.0)
Requirement already satisfied: python-dateutil>=2 in /usr/local/lib/python3.6/dist-packages (from pandas==0.22.0) (2.8.1)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from pandas==0.22.0) (1.14.6)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas==0.22.0) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2->pandas==0.22.0) (1.12.0)
Requirement already satisfied: numpy==1.14.6 in /usr/local/lib/python3.6/dist-packages (1.14.6)
Requirement already satisfied: matplotlib==2.1.2 in /usr/local/lib/python3.6/dist-packages (2.1.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (0.10.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (1.12.0)
Requirement already satisfied: numpy>=1.7.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (1.14.6)
Requirement already satisfied: pytz in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (2018.9)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (2.4.6)

▲库的版本变更

In [2]:
import sys
import pandas
import numpy
import matplotlib
print('python version : ', sys.version_info[0:3])
print('pandas version : ', pandas.__version__)
print('numpy version : ', numpy.__version__)
print('matplotlib version : ', matplotlib.__version__)

python version :  (3, 6, 9)
pandas version :  0.22.0
numpy version :  1.14.6
matplotlib version :  2.1.2

▲Python和库的版本输出

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

▲预先执行的代码

In [4]:
df = pd.DataFrame({
    'city':['Tokyo','osaka',np.nan,'TOKYO'],
    'job' : [np.nan,'Engineer','teacher','Teacher'],
    }, index=['Taro','jiro',np.nan,'Ichiro ']
)

df

          city       job
Taro     Tokyo       NaN
jiro     osaka  Engineer
NaN        NaN   teacher
Ichiro   TOKYO   Teacher

▲ 程序清单 8.1 DataFrame 对象的创建

In [5]:
print(df['city'].str)
print(df.index.str)

<pandas.core.strings.StringMethods object at 0x7f682d5f7e10>
<pandas.core.strings.StringMethods object at 0x7f682d5f7b38>

In [6]:
df.str

AttributeError: ignored

▲ 程序清单 8.2 Series 对象和 Index 对象的 str 属性

In [7]:
df['city'].str.lower()

Taro       tokyo
jiro       osaka
NaN          NaN
Ichiro     tokyo
Name: city, dtype: object

▲ 程序清单 8.3 str 属性的 lower 方法

In [8]:
df['city'].map(lambda x: x.lower(), na_action='ignore')

Taro       tokyo
jiro       osaka
NaN          NaN
Ichiro     tokyo
Name: city, dtype: object

▲ 程序清单 8.4 使用 map 方法和匿名函数将字符串转换成小写

In [9]:
print(df['city'][0] == df['city'][3])
print(df['city'].str.lower()[0] == df['city'].str.lower()[3])

False
True

▲ 程序清单 8.5 大写和小写字符串的比较

In [10]:
df['city'].str.upper()

Taro       TOKYO
jiro       OSAKA
NaN          NaN
Ichiro     TOKYO
Name: city, dtype: object

In [11]:
df['city'].str.len()

Taro       5.0
jiro       5.0
NaN        NaN
Ichiro     5.0
Name: city, dtype: float64

▲ 程序清单 8.6 str 属性的 upper 方法和 len 方法

In [12]:
df.index.str.len()

Float64Index([4.0, 4.0, nan, 7.0], dtype='float64')

▲ 程序清单 8.7 Index 对象的 str 属性和 len 方法

In [13]:
df.index.str.strip()

Index(['Taro', 'jiro', nan, 'Ichiro'], dtype='object')

In [14]:
df.index.str.strip().str.len()

Float64Index([4.0, 4.0, nan, 6.0], dtype='float64')

▲程序清单 8.8 str 属性的 strip 方法

In [15]:
df.index.str.capitalize()

Index(['Taro', 'Jiro', nan, 'Ichiro '], dtype='object')

▲ 程序清单 8.9 str 属性的 capitalize 方法

In [16]:
ser = pd.Series(['あ+い+う','え+お','か'])
ser

0    あ+い+う
1      え+お
2        か
dtype: object

In [17]:
ser.str.split(pat='+')

0    [あ, い, う]
1       [え, お]
2          [か]
dtype: object

▲ 程序清单 8.10 str 属性的 split 方法

In [18]:
ser.str.split(pat='+', expand=True)

   0     1     2
0  あ     い     う
1  え     お  None
2  か  None  None

▲ 程序清单 8.11 split 方法的 expand 参数

In [19]:
ser.str.split('+', n=1, expand=True)

   0     1
0  あ   い+う
1  え     お
2  か  None

▲ 程序清单 8.12 split 方法的参数 n

In [20]:
ser = pd.Series(['あ+い-う','え*お','か'])
ser

0    あ+い-う
1      え*お
2        か
dtype: object

In [21]:
ser.str.split(pat='\W', expand=True)

   0     1     2
0  あ     い     う
1  え     お  None
2  か  None  None

▲ 程序清单 8.13 split 方法的 pat 参数与正则表达式

In [22]:
ser = pd.Series([
    '2年级1班山田君',
    '2–1 高桥君君',
    '2年级3班佐藤君',
    '2-4 内山君'
])

ser

0    2年级1班山田君
1   2–1 高桥君君
2   2年级3班佐藤君
3     2-4 内山君
dtype: object

▲ 程序清单 8.14 Series 对象的创建

In [23]:
df = ser.str.split(' ', expand=True)
df.columns = ['class','name']
df2 = df.copy()
df2

  class  name
0  2年级1班山田君
1   2-1  高桥君君
2  '2年级3班佐藤君
3   2-4   内山君

▲ 程序清单 8.15 str 属性的 split 方法

In [24]:
df2['class'] = df2['class'].str.replace(pat='年', repl='-')
df2

  class  name
0  2年级1班 山田君
1   2–1 高桥君君
2  2年级3班 佐藤君
3   2–4 内山君

▲ 程序清单 8.16 str 属性的 replace 方法（置换）

In [25]:
df2['class'] = df2['class'].str.replace(pat='年级', repl='')
df2

  class  name
0   2-1   山田君
1   2-1  高桥君君
2   2-3   佐藤君
3   2-4   内山君

▲ 程序清单 8.17 str 属性的 replace 方法（删除）

In [26]:
df2['name'].str.replace(pat='君', n=1, repl='')

0     山田君
1    高桥君君
2     佐藤君
3     内山君
Name: name, dtype: object

In [27]:
df2['name'].str.replace(pat='君', n=2, repl='')

0    山田
1    高桥君
2    佐藤
3    内山
Name: name, dtype: object

▲ 程序清单 8.19 正则表达式的创建

In [28]:
pattern = '年级|班|'
pattern

'年级|班|'

▲ 程序清单 8.19 正则表达式的创建

In [29]:
df['class'] = df['class'].str.replace(pat=pattern, repl='')
df

  class  name
0    21   山田君
1    21  高桥君君
2    23   佐藤君
3    24   内山君

▲ 程序清单 8.20 replace 方法、pat 参数和正则表达式

In [30]:
df['class'] = df['class'].map(lambda x: x[0] + '-' + x[1])
df['name'] = df['name'].str.replace('君', n=2, repl='')
df

  class name
0   2-1   山田
1   2-1   高桥
2   2-3  佐藤
3   2-4   内山

▲ 程序清单 8.21 map 方法和 replace 方法

In [31]:
ser = pd.Series(['aBcD','AbCd'])
ser

0    aBcD
1    AbCd
dtype: object

In [32]:
ser.str.replace('a', repl='')

0     BcD
1    AbCd
dtype: object

In [33]:
ser.str.replace('a', repl='', case=False)

0    BcD
1    bCd
dtype: object

▲程序清单 8.22 replace 方法和 case 参数

In [34]:
df = pd.DataFrame([
    'Tokyo 2019-01-02 0 158.2',
    'Osaka 2018-12-22 0 161.8',
    'Tokyo 2019-02-22 0 169.1',
    'Sapporo 2019-01-01 1 179.2',
    'Osaka 2018-11-29 182.1']
    , columns=['data']
)

df

                         data
0    Tokyo 2019-01-02 0 158.2
1    Osaka 2018-12-22 0 161.8
2    Tokyo 2019-02-22 0 169.1
3  Sapporo 2019-01-01 1 179.2
4      Osaka 2018-11-29 182.1

▲ 程序清单 8.23 DataFrame 对象的创建

In [35]:
df['date'] = df['data'].str.extract('(....-..-..)', expand=True)
df

                         data        date
0    Tokyo 2019-01-02 0 158.2  2019-01-02
1    Osaka 2018-12-22 0 161.8  2018-12-22
2    Tokyo 2019-02-22 0 169.1  2019-02-22
3  Sapporo 2019-01-01 1 179.2  2019-01-01
4      Osaka 2018-11-29 182.1  2018-11-29

▲ 程序清单 8.24 str 属性的 extract 方法

In [36]:
df['sex'] = df['data'].str.extract('( \d )', expand=True)
df

                         data        date  sex
0    Tokyo 2019-01-02 0 158.2  2019-01-02   0
1    Osaka 2018-12-22 0 161.8  2018-12-22   0
2    Tokyo 2019-02-22 0 169.1  2019-02-22   0
3  Sapporo 2019-01-01 1 179.2  2019-01-01   1
4      Osaka 2018-11-29 182.1  2018-11-29  NaN

▲ 程序清单 8.25 str 属性的 extract 方法（缺失值）

In [37]:
df['height'] = df['data'].str.extract('(\d\d\d\.\d)', expand=True)
df['location'] = df['data'].str.extract('([A-Z]\w{0,})', expand=True)
df

                         data        date  sex height location
0    Tokyo 2019-01-02 0 158.2  2019-01-02   0   158.2    Tokyo
1    Osaka 2018-12-22 0 161.8  2018-12-22   0   161.8    Osaka
2    Tokyo 2019-02-22 0 169.1  2019-02-22   0   169.1    Tokyo
3  Sapporo 2019-01-01 1 179.2  2019-01-01   1   179.2  Sapporo
4      Osaka 2018-11-29 182.1  2018-11-29  NaN  182.1    Osaka

▲ 程序清单 8.26 str 属性的 extract 方法

In [38]:
df['data'].str.extract(pat='(?P<身高>\d\d\d\.\d)', expand=True)

      身高
0  158.2
1  161.8
2  169.1
3  179.2
4  182.1

▲程序清单 8.27 extract 方法的 pat 参数和附带名称的组

In [39]:
df = pd.DataFrame({
    'name':['Matsuda','Fuji',np.nan,'murayama'],
    'div':['sales','HR','hr',np.nan]}
)
df

     div      name
0  sales   Matsuda
1     HR      Fuji
2     hr       NaN
3    NaN  murayama

▲ 程序清单 8.28 DataFrame 对象的创建

In [40]:
df['div'].str.contains('HR', case=True)

0    False
1     True
2    False
3      NaN
Name: div, dtype: object

▲ 程序清单 8.29 str 属性的 contains 方法和 case 参数（True）

In [41]:
df['div'].str.contains('HR', case=False)

0    False
1     True
2     True
3      NaN
Name: div, dtype: object

▲ 程序清单 8.30 str 属性的 contains 方法和 case 参数（False）

In [42]:
df['div'].str.contains('sales|hr', case=False)

0    True
1    True
2    True
3     NaN
Name: div, dtype: object

▲ 程序清单 8.31 contains 方法和正则表达式

In [43]:
df['div'].str.contains('sales|hr', case=False, na=False)

0     True
1     True
2     True
3    False
Name: div, dtype: bool

▲ 程序清单 8.32 contains 方法和 na 参数

In [44]:
cond = df['div'].str.contains('sales|hr', case=False, na=False)
df[cond]

     div     name
0  sales  Matsuda
1     HR     Fuji
2     hr      NaN

▲ 程序清单 8.33 使用 contains 方法进行索引引用

In [45]:
df['div'].str.endswith(pat='r')

0    False
1    False
2     True
3      NaN
Name: div, dtype: object

In [46]:
df['name'].str.startswith(pat='M')

0     True
1    False
2      NaN
3    False
Name: name, dtype: object

▲程序清单 8.34 endswith 方法和 startswith 方法

In [47]:
ser = pd.Series([
    'blue,red,blue,yellow',
    'red,yellow',
    'green,blue,red',
    'yellow,green,red',
])

ser

0    blue,red,blue,yellow
1              red,yellow
2          green,blue,red
3        yellow,green,red
dtype: object

▲ 程序清单 8.35 Series 对象的创建

In [48]:
ser.str.get_dummies(sep=',')

   blue  green  red  yellow
0     1      0    1       1
1     0      0    1       1
2     1      1    1       0
3     0      1    1       1

▲ 程序清单 8.36 str 属性 get_dummies 方法

In [49]:
ser[4] = np.nan
ser.str.get_dummies(sep=',')

   blue  green  red  yellow
0     1      0    1       1
1     0      0    1       1
2     1      1    1       0
3     0      1    1       1
4     0      0    0       0

▲ 程序清单 8.37 str 属性的 get_dummies 方法和缺失值