In [1]:
!pip install pandas==0.22.0
!pip install numpy==1.14.6
!pip install matplotlib==2.1.2

Requirement already satisfied: pandas==0.22.0 in /usr/local/lib/python3.6/dist-packages (0.22.0)
Requirement already satisfied: python-dateutil>=2 in /usr/local/lib/python3.6/dist-packages (from pandas==0.22.0) (2.6.1)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas==0.22.0) (2018.9)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from pandas==0.22.0) (1.14.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2->pandas==0.22.0) (1.12.0)
Requirement already satisfied: numpy==1.14.6 in /usr/local/lib/python3.6/dist-packages (1.14.6)
Requirement already satisfied: matplotlib==2.1.2 in /usr/local/lib/python3.6/dist-packages (2.1.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (2.6.1)
Requirement already satisfied: numpy>=1.7.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (1.14.6)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (0.10.0)
Requirement already satisfied: pytz in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (2018.9)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (1.12.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (2.4.6)

▲库的版本变更

In [2]:
import sys
import pandas
import numpy
import matplotlib
print('python version : ', sys.version_info[0:3])
print('pandas version : ', pandas.__version__)
print('numpy version : ', numpy.__version__)
print('matplotlib version : ', matplotlib.__version__)

python version :  (3, 6, 9)
pandas version :  0.22.0
numpy version :  1.14.6
matplotlib version :  2.1.2

▲Python和库的版本输出

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


▲预先执行的代码

In [2]:
name = ['A','B','C','D','E','F','G']
address = ['Tokyo','Tokyo','Tokyo','Tokyo','Osaka','Osaka','Sapporo']
sex = ['F','F','F','M','M','M','M']
div = ['HR','Sales','Marketing','Sales','HR','Marketing','Marketing']
age = [25, 31, 32, 28, 29, 39, 28]
point = [88, 91, 79, 87, 85, 98, 82]

In [3]:
pd.DataFrame({'name':name,
              'address':address,
              'sex':sex,
              'div':div,
              'age':age,
              'point':point})

   address  age        div name  point sex
0    Tokyo   25         HR    A     88   F
1    Tokyo   31      Sales    B     91   F
2    Tokyo   32  Marketing    C     79   F
3    Tokyo   28      Sales    D     87   M
4    Osaka   29         HR    E     85   M
5    Osaka   39  Marketing    F     98   M
6  Sapporo   28  Marketing    G     82   M

▲ 程序清单 8.72 绘制包含缺失值的散点图（kind='scatter'）和直方图（kind='hist'）

In [6]:
tuples = list(zip(address, sex))
tuples

[('Tokyo', 'F'),
 ('Tokyo', 'F'),
 ('Tokyo', 'F'),
 ('Tokyo', 'M'),
 ('Osaka', 'M'),
 ('Osaka', 'M'),
 ('Sapporo', 'M')]

▲ 程序清单 8.73 DataFrame 对象的创建

In [7]:
midx = pd.MultiIndex.from_tuples(tuples)
midx

MultiIndex(levels=[['Osaka', 'Sapporo', 'Tokyo'], ['F', 'M']],
           labels=[[2, 2, 2, 2, 0, 0, 1], [0, 0, 0, 1, 1, 1, 1]])

▲ 程序清单 8.74 元组的创建

In [8]:
midx.levels

FrozenList([['Osaka', 'Sapporo', 'Tokyo'], ['F', 'M']])

In [9]:
midx.labels

FrozenList([[2, 2, 2, 2, 0, 0, 1], [0, 0, 0, 1, 1, 1, 1]])

▲ 程序清单 8.75 MultiIndex 对象的创建

In [10]:
midx = pd.MultiIndex.from_tuples(tuples, names=['address','sex'])
print(midx.names)
midx

['address', 'sex']

MultiIndex(levels=[['Osaka', 'Sapporo', 'Tokyo'], ['F', 'M']],
           labels=[[2, 2, 2, 2, 0, 0, 1], [0, 0, 0, 1, 1, 1, 1]],
           names=['address', 'sex'])

▲ 程序清单 8.76 MultiIndex 对象的 levels 属性和 labels 属性

In [11]:
ser = pd.Series(age, index=midx)
print(ser.index)
ser

MultiIndex(levels=[['Osaka', 'Sapporo', 'Tokyo'], ['F', 'M']],
           labels=[[2, 2, 2, 2, 0, 0, 1], [0, 0, 0, 1, 1, 1, 1]],
           names=['address', 'sex'])

address  sex
Tokyo    F      25
         F      31
         F      32
         M      28
Osaka    M      29
         M      39
Sapporo  M      28
dtype: int64

▲ 程序清单 8.77 from_tuples 方法和 names 参数

In [12]:
pd.Series(age, index=[address, sex])

Tokyo    F    25
         F    31
         F    32
         M    28
Osaka    M    29
         M    39
Sapporo  M    28
dtype: int64

▲ 程序清单 8.78 MultiIndex 对象和 index 参数

In [13]:
np.random.seed(0)
temp1 = ['Tokyo','Osaka', 'Sapporo']
temp2 = ['F','M']
midx2 = pd.MultiIndex.from_product([temp1, temp2], names=['address','sex'])
pd.Series(np.random.randint(10,size=6),index=midx2)

address  sex
Tokyo    F      5
         M      0
Osaka    F      3
         M      3
Sapporo  F      7
         M      9
dtype: int64

▲ 程序清单 8.79 多个列表和 index 参数

In [14]:
df = pd.DataFrame({'age':age,'point':point}, index=midx)
df

             age  point
address sex
Tokyo   F     25     88
        F     31     91
        F     32     79
        M     28     87
Osaka   M     29     85
        M     39     98
Sapporo M     28     82

▲ 程序清单 8.80 from_product 方法

In [15]:
df.T

address Tokyo             Osaka     Sapporo
sex         F   F   F   M     M   M       M
age        25  31  32  28    29  39      28
point      88  91  79  87    85  98      82

▲ 程序清单 8.81 DataFrame 对象和 MultiIndex 对象

In [16]:
midx = pd.MultiIndex.from_arrays([address,sex,div],
                                 names=['address','sex','div'])

df = pd.DataFrame({'age':age,'point':point}, index=midx)
df

                       age  point
address sex div
Tokyo   F   HR          25     88
            Sales       31     91
            Marketing   32     79
        M   Sales       28     87
Osaka   M   HR          29     85
            Marketing   39     98
Sapporo M   Marketing   28     82

▲ 程序清单 8.82 MultiIndex 对象的列标签

In [17]:
df.index.nlevels

3

▲程序清单 8.83 MultiIndex 对象的 from_arrays 方法

In [18]:
print(df.index.get_level_values('address'))

Index(['Tokyo', 'Tokyo', 'Tokyo', 'Tokyo', 'Osaka', 'Osaka', 'Sapporo'], dtype='object', name='address')

In [19]:
print(df.index.get_level_values(0))

Index(['Tokyo', 'Tokyo', 'Tokyo', 'Tokyo', 'Osaka', 'Osaka', 'Sapporo'], dtype='object', name='address')

▲ 程序清单 8.84 MultiIndex 对象的 nlevels 属性

In [20]:
print(df.index.get_level_values(1))

Index(['F', 'F', 'F', 'M', 'M', 'M', 'M'], dtype='object', name='sex')

In [21]:
print(df.index.get_level_values(-1))

Index(['HR', 'Sales', 'Marketing', 'Sales', 'HR', 'Marketing', 'Marketing'], dtype='object', name='div')

▲ 程序清单 8.85 MultiIndex 对象的 get_level_values 方法

In [22]:
df.sort_index(axis=0, ascending=True)

                       age  point
address sex div
Osaka   M   HR          29     85
            Marketing   39     98
Sapporo M   Marketing   28     82
Tokyo   F   HR          25     88
            Marketing   32     79
            Sales       31     91
        M   Sales       28     87

▲ 程序清单 8.86 get_level_values 方法和 level 的位置

In [23]:
df.sort_index(axis=0, level=1, sort_remaining=False)

                       age  point
address sex div
Tokyo   F   HR          25     88
            Sales       31     91
            Marketing   32     79
        M   Sales       28     87
Osaka   M   HR          29     85
            Marketing   39     98
Sapporo M   Marketing   28     82

▲ 程序清单 8.87 MultiIndex 对象的 sort_index 方法

In [24]:
df.sort_index(axis=0, level=1, sort_remaining=True)

                       age  point
address sex div
Tokyo   F   HR          25     88
            Marketing   32     79
            Sales       31     91
Osaka   M   HR          29     85
            Marketing   39     98
Sapporo M   Marketing   28     82
Tokyo   M   Sales       28     87

▲ 程序清单 8.88 sort_index 方法的 level 参数和 sort_remaining 参数（False）

In [25]:
df.sort_index(level=['sex','div'], sort_remaining=False)

                       age  point
address sex div
Tokyo   F   HR          25     88
            Marketing   32     79
            Sales       31     91
Osaka   M   HR          29     85
            Marketing   39     98
Sapporo M   Marketing   28     82
Tokyo   M   Sales       28     87

▲ 程序清单 8.89 sort_index 方法的 level 参数和 sort_remaining 参数（True）

In [26]:
df.loc['Tokyo', 'F']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  """Entry point for launching an IPython kernel.

           age  point
div
HR          25     88
Sales       31     91
Marketing   32     79

▲ 程序清单 8.90 sort_index 方法的 level 参数（多个）

In [27]:
df.sort_index(level=['address','sex']).loc['Tokyo','F']

           age  point
div
HR          25     88
Marketing   32     79
Sales       31     91

▲ 程序清单 8.91 多重索引的索引引用（PerformanceWarning）

In [29]:
df.loc['Osaka':'Sapporo']

UnsortedIndexError: ignored

▲ 程序清单 8.92 多重索引的索引引用

In [30]:
df.sort_index(level=0).loc['Osaka':'Sapporo']

                       age  point
address sex div
Osaka   M   HR          29     85
            Marketing   39     98
Sapporo M   Marketing   28     82

▲ 程序清单 8.93 多重索引和切片（UnsortedIndexError）

In [31]:
df.index.is_lexsorted()

False

In [32]:
df.sort_index(level=0).index.is_lexsorted()

True

▲ 程序清单 8.94 多重索引和切片

In [33]:
df_col = df.T.copy()
df_col

address Tokyo                       Osaka             Sapporo
sex         F                     M     M                   M
div        HR Sales Marketing Sales    HR Marketing Marketing
age        25    31        32    28    29        39        28
point      88    91        79    87    85        98        82

In [34]:
df_col['Tokyo']

sex     F                     M
div    HR Sales Marketing Sales
age    25    31        32    28
point  88    91        79    87

▲ 程序清单 8.95 MultiIndex 对象的 is_lexsorted 方法

In [35]:
df_col['Tokyo']['M']

div    Sales
age       28
point     87

▲ 程序清单 8.96 MultiIndex 对象的引用 [ 方括号（[ ]）]

In [36]:
df_col['Osaka']['M']['HR']

age      29
point    85
Name: HR, dtype: int64

▲ 程序清单 8.97 引用 MultiIndex 对象的多个层次

In [37]:
df.loc['Tokyo']

               age  point
sex div
F   HR          25     88
    Sales       31     91
    Marketing   32     79
M   Sales       28     87

▲ 程序清单 8.98 引用 MultiIndex 对象的所有层次

In [38]:
df.sort_index(level=0, inplace=True)
df.loc['Osaka':'Sapporo']

                       age  point
address sex div
Osaka   M   HR          29     85
            Marketing   39     98
Sapporo M   Marketing   28     82

▲ 程序清单 8.99 多重索引和 loc 属性

In [39]:
df.loc[('Sapporo','M'):('Tokyo','F')]

                       age  point
address sex div
Sapporo M   Marketing   28     82
Tokyo   F   HR          25     88
            Marketing   32     79
            Sales       31     91

▲ 程序清单 8.100 多重索引和切片

In [40]:
df.loc[[('Sapporo','M','Marketing'),
        ('Sapporo','F','Marketing'),
        ('Tokyo','F','Marketing'),]]

                        age  point
address sex div
Sapporo M   Marketing  28.0   82.0
        F   Marketing   NaN    NaN
Tokyo   F   Marketing  32.0   79.0

▲ 程序清单 8.101 多重索引和元组的切片①

In [41]:
df.xs(key='Tokyo')

               age  point
sex div
F   HR          25     88
    Marketing   32     79
    Sales       31     91
M   Sales       28     87

▲ 程序清单 8.102 多重索引和元组的切片②

In [42]:
df.xs(key='Marketing', level='div')

             age  point
address sex
Osaka   M     39     98
Sapporo M     28     82
Tokyo   F     32     79

▲ 程序清单 8.103 DataFrame 对象的 xs 方法

In [43]:
df.xs(key='Marketing', level='div', drop_level=False)

                       age  point
address sex div
Osaka   M   Marketing   39     98
Sapporo M   Marketing   28     82
Tokyo   F   Marketing   32     79

▲ 程序清单 8.104 xs 方法的 level 参数

In [44]:
df.xs(key=('M','Marketing'), level=('sex','div'), drop_level=False)

                       age  point
address sex div
Osaka   M   Marketing   39     98
Sapporo M   Marketing   28     82

▲ 程序清单 8.105 xs 方法的 drop_level 参数

In [45]:
df_col.xs(key='Sales', axis=1, level=-1, drop_level=False)

address Tokyo
sex         F     M
div     Sales Sales
age        31    28
point      91    87

▲ 程序清单 8.106 使用 xs 方法的多个键进行引用

In [46]:
df2 = df.copy()
df2.index = df2.index.set_levels(levels=['大阪','札幌','东京'],level=0)
df2

                       age  point
address sex div
大阪     M   HR          29     85
            Marketing   39     98
札幌      M   Marketing   28     82
东京      F   HR          25     88
            Marketing   32     79
            Sales       31     91
        M   Sales       28     87

▲程序清单 8.109 set_levels 方法的 levels 参数和 level 参数

In [47]:
df2.index = df2.index.set_levels(
    levels=[['女','男'],['人事','市场','销售']],
    level=['sex','div'])

df2

                     age  point
address sex div
大阪      男   人事        29     85
            市场   39     98
札幌      男   市场   28     82
东京      女   人事        25     88
            市场   32     79
            销售        31     91
        男   销售        28     87

▲ 程序清单 8.108 MultiIndex 对象的 set_levels 方法

In [48]:
print(df2.index.levels[0])
print(df2.index.labels[0])
df2

Index(['大阪', '札幌', '东京'], dtype='object', name='address')
FrozenNDArray([0, 0, 1, 2, 2, 2, 2], dtype='int8')

                     age  point
address sex div
大阪      男   人事        29     85
            市场   39     98
札幌      男   市场   28     82
东京      女   人事        25     88
            市场   32     79
            销售        31     91
        男   销售        28     87

▲ 程序清单 8.109 set_levels 方法的 levels 参数和 level 参数

In [49]:
df2.index = df2.index.set_labels(labels=[1,1,1,0,0,2,2],
                                 level=0)
df2

                     age  point
address sex div
札幌      男   人事        29     85
            市场   39     98
            市场   28     82
大阪      女   人事        25     88
            市场   32     79
东京      女   销售        31     91
        男   销售        28     87

▲ 程序清单 8.110 MultiIndex 对象的 levels 属性和 labels 属性

In [50]:
df2.swaplevel(i='sex', j='address')

                     age  point
sex address div
男   札幌      人事        29     85
            市场   39     98
            市场   28     82
女   大阪      人事        25     88
            市场   32     79
    东京     销售        31     91
男   东京      销售       28     87

▲ 程序清单 8.111 MultiIndex 对象的 set_labels 方法

In [51]:
df2 = df2.reset_index()
df2

  address sex      div  age  point
0      札幌   男       人事   29     85
1      札幌   男       市场   39     98
2      札幌   男       市场   28     82
3      大阪   女       人事   25     88
4      大阪   女        市场   32     79
5      东京   女        销售   31     91
6      东京   男        销售   28     87

▲ 程序清单 8.112 DataFrame 对象的 swaplevel 方法

In [52]:
df2.set_index(['address','sex','div'])

                     age  point
address sex div
札幌      男   人事        29     85
            市场   39     98
            市场   28     82
大阪      女   人事        25     88
            市场   32     79
东京      女   销售        31     91
        男   销售        28     87

▲ 程序清单 8.113 DataFrame 对象的 reset_index 方法

In [53]:
df.mean(axis=0)

age      30.285714
point    87.142857
dtype: float64

▲ 程序清单 8.114 DataFrame 对象的 set_index 方法

In [54]:
df.mean(axis=1)

address  sex  div
Osaka    M    HR           57.0
              Marketing    68.5
Sapporo  M    Marketing    55.0
Tokyo    F    HR           56.5
              Marketing    55.5
              Sales        61.0
         M    Sales        57.5
dtype: float64

▲ 程序清单 8.115 DataFrame 对象的 mean 方法（axis=0）

In [55]:
df['age'].mean(axis=0, level='address')

address
Osaka      34
Sapporo    28
Tokyo      29
Name: age, dtype: int64

▲ 程序清单 8.116 DataFrame 对象的 mean 方法（axis=1）

In [56]:
df['age'].mean(axis=0, level=['address','sex'])

address  sex
Osaka    M      34.000000
Sapporo  M      28.000000
Tokyo    F      29.333333
         M      28.000000
Name: age, dtype: float64

▲ 程序清单 8.117 mean 方法的 level 参数

In [57]:
grouped = df.groupby(level='sex')
grouped.mean()

           age  point
sex
F    29.333333   86.0
M    31.000000   88.0

In [58]:
df.mean(level='sex')

           age  point
sex
M    31.000000   88.0
F    29.333333   86.0

▲ 程序清单 8.118 mean 方法的 level 参数（多个）

In [59]:
df['point'].groupby(level=['sex','div']).max()

sex  div
F    HR           88
     Marketing    79
     Sales        91
M    HR           85
     Marketing    98
     Sales        87
Name: point, dtype: int64

▲程序清单 8.119 goupby 方法的 level 参数

In [60]:
df.groupby(by=['sex','age']).min()

         point
sex age
F   25      88
    31      91
    32      79
M   28      82
    29      85
    39      98

▲ 程序清单 8.120 groupby 方法的 level 参数（多个）

In [61]:
grouper = pd.Grouper(level=1)
df.groupby(by=[grouper,'age']).min()

         point
sex age
F   25      88
    31      91
    32      79
M   28      82
    29      85
    39      98

▲ 程序清单 8.121 基于层和列的分组

In [62]:
val = {'A':['a0','a1','a2'],'B':['b0','b1','b2']}
idx = pd.Index(['s0','s1','s2'],name='1st')
single = pd.DataFrame(val, index=idx)
single

      A   B
1st
s0   a0  b0
s1   a1  b1
s2   a2  b2

In [63]:
val_idx = [['s0','s1','s2','s3'],['m0','m1','m2','m3']]
midx = pd.MultiIndex.from_arrays(val_idx,names=['1st','2nd'])
val_df = {'C':['c0','c1','c2','c3'],'D':['d0','d1','d2','d3']}
multi = pd.DataFrame(val_df, index=midx)
multi

          C   D
1st 2nd
s0  m0   c0  d0
s1  m1   c1  d1
s2  m2   c2  d2
s3  m3   c3  d3

▲ 程序清单 8.122 Grouper 函数

In [64]:
single.join(multi, how='outer')

           A    B   C   D
1st 2nd
s0  m0    a0   b0  c0  d0
s1  m1    a1   b1  c1  d1
s2  m2    a2   b2  c2  d2
s3  m3   NaN  NaN  c3  d3

▲ 程序清单 8.123 DataFrame 对象的创建

In [65]:
pd.merge(single.reset_index(),
         multi.reset_index(),
         on='1st', how='outer').set_index(['1st', '2nd'])

           A    B   C   D
1st 2nd
s0  m0    a0   b0  c0  d0
s1  m1    a1   b1  c1  d1
s2  m2    a2   b2  c2  d2
s3  m3   NaN  NaN  c3  d3

▲ 程序清单 8.124 DataFrame 对象的 join 方法

In [66]:
idx_val = [['s0','s1','s2','s4'], ['p0','p1','p2','p4']]
midx = pd.MultiIndex.from_arrays(idx_val, names=['1st','3rd'])
df_val = {'E':['e0','e1','e2','e3'],'F':['f0','f1','f2','f3']}
multi2 = pd.DataFrame(df_val, index=midx,)
multi2

          E   F
1st 3rd
s0  p0   e0  f0
s1  p1   e1  f1
s2  p2   e2  f2
s4  p4   e3  f3

▲ 程序清单 8.125 merge 函数

In [67]:
pd.merge(multi.reset_index(), 
         multi2.reset_index(),
         on='1st',
         how='outer').set_index(['1st','2nd','3rd'])

               C    D    E    F
1st 2nd 3rd
s0  m0  p0    c0   d0   e0   f0
s1  m1  p1    c1   d1   e1   f1
s2  m2  p2    c2   d2   e2   f2
s3  m3  NaN   c3   d3  NaN  NaN
s4  NaN p4   NaN  NaN   e3   f3

▲ 程序清单 8.126 DataFrame 对象的创建