In [1]:
!pip install pandas==0.22.0
!pip install numpy==1.14.6
!pip install matplotlib==2.1.2

Requirement already satisfied: pandas==0.22.0 in /usr/local/lib/python3.6/dist-packages (0.22.0)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas==0.22.0) (2018.9)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from pandas==0.22.0) (1.14.6)
Requirement already satisfied: python-dateutil>=2 in /usr/local/lib/python3.6/dist-packages (from pandas==0.22.0) (2.6.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2->pandas==0.22.0) (1.12.0)
Requirement already satisfied: numpy==1.14.6 in /usr/local/lib/python3.6/dist-packages (1.14.6)
Requirement already satisfied: matplotlib==2.1.2 in /usr/local/lib/python3.6/dist-packages (2.1.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (2.6.1)
Requirement already satisfied: pytz in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (2018.9)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (2.4.6)
Requirement already satisfied: numpy>=1.7.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (1.14.6)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (0.10.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (1.12.0)

▲库的版本变更

In [2]:
import sys
import pandas
import numpy
import matplotlib
print('python version : ', sys.version_info[0:3])
print('pandas version : ', pandas.__version__)
print('numpy version : ', numpy.__version__)
print('matplotlib version : ', matplotlib.__version__)

python version :  (3, 6, 9)
pandas version :  0.22.0
numpy version :  1.14.6
matplotlib version :  2.1.2

▲Python和库的版本输出

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

▲预先执行的代码

In [4]:
ser = pd.Series([5,1,0,9,3],index=list('acdbe'))
ser.sort_index()

a    5
b    9
c    1
d    0
e    3
dtype: int64

▲程序清单 4.61 Series 类的 sort_index 方法

In [5]:
ser = pd.Series([5,1,0,9,3],index=list('いおあうえ'))
ser.sort_index(ascending=False)

お    1
え    3
う    9
い    5
あ    0
dtype: int64

▲ 程序清单 4.62 sort_index 方法的 ascending 参数

In [6]:
np.random.seed(seed=1)
val = np.random.randint(0,10,size=9,).reshape(3,3)
df = pd.DataFrame(val, index=[2,0,1],columns=list('cba'))
df

   c  b  a
2  5  8  9
0  5  0  0
1  1  7  6

▲ 程序清单 4.63 DataFrame 对象的创建

In [7]:
df.sort_index(axis=0)

   c  b  a
0  5  0  0
1  1  7  6
2  5  8  9

In [8]:
df.sort_index(axis=1)

   a  b  c
2  9  8  5
0  0  0  5
1  6  7  1

▲ 程序清单 4.64 sort_index 方法的 axis 参数

In [9]:
df.index = [2,np.nan,1]
df

      c  b  a
 2.0  5  8  9
NaN   5  0  0
 1.0  1  7  6

▲ 程序清单 4.65 为索引标签添加缺失值

In [10]:
df.sort_index(na_position='first')

      c  b  a
NaN   5  0  0
 1.0  1  7  6
 2.0  5  8  9

▲ 程序清单 4.66 sort_index 方法的 na_position 参数

In [11]:
ser = pd.Series([4,1,0,3,2])
ser.sort_values()

2    0
1    1
4    2
3    3
0    4
dtype: int64

▲ 程序清单 4.67 Series 类的 sort_values 方法

In [12]:
ser = pd.Series(list('いおあうえ'))
ser.sort_values(ascending=False)

1    お
4    え
3    う
0    い
2    あ
dtype: object

▲ 程序清单 4.68 sort_values 方法的 ascending 参数

In [13]:
np.random.seed(seed=10)
scores = np.random.randint(70,100,size=20,).reshape(5,4)
df = pd.DataFrame(scores, columns=['math','eng','chem','phys'])
df

   math  eng  chem  phys
0    79   99    74    85
1    70   87    97    98
2    95   99    86    99
3    87   96    78    79
4    70   80    78    92

▲程序清单 4.69 DataFrame 对象的创建

In [14]:
df.sort_values(by='math')

   math  eng  chem  phys
1    70   87    97    98
4    70   80    78    92
0    79   99    74    85
3    87   96    78    79
2    95   99    86    99

▲ 程序清单 4.70 DataFrame 类的 sort_values 方法的 by 参数

In [15]:
df.sort_values(by=['math','eng'])

   math  eng  chem  phys
4    70   80    78    92
1    70   87    97    98
0    79   99    74    85
3    87   96    78    79
2    95   99    86    99

▲ 程序清单 4.71 使用 sort_values 方法的 by 参数指定多个列

In [0]:
df.sort_values(by='phys', ascending=False, inplace=True)

In [17]:
df

   math  eng  chem  phys
2    95   99    86    99
1    70   87    97    98
4    70   80    78    92
0    79   99    74    85
3    87   96    78    79

▲ 程序清单 4.72 sort_values 方法的 inplace 参数

In [18]:
df['eng'].nlargest(3)

2    99
0    99
3    96
Name: eng, dtype: int64

▲ 程序清单 4.73 Series 类的 nlargest 方法

In [19]:
df['phys'].nsmallest(3)

3    79
0    85
4    92
Name: phys, dtype: int64

In [20]:
df['phys'].sort_values().head(3)

3    79
0    85
4    92
Name: phys, dtype: int64

▲ 程序清单 4.74 Series 类的 nsmallest 方法

In [21]:
df.nlargest(3, 'eng')

   math  eng  chem  phys
2    95   99    86    99
0    79   99    74    85
3    87   96    78    79

▲ 程序清单 4.75 DataFrame 类的 nlargest 方法