In [1]:
!pip install pandas==0.22.0
!pip install numpy==1.14.6
!pip install matplotlib==2.1.2

Requirement already satisfied: pandas==0.22.0 in /usr/local/lib/python3.6/dist-packages (0.22.0)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from pandas==0.22.0) (1.14.6)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas==0.22.0) (2018.9)
Requirement already satisfied: python-dateutil>=2 in /usr/local/lib/python3.6/dist-packages (from pandas==0.22.0) (2.6.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2->pandas==0.22.0) (1.12.0)
Requirement already satisfied: numpy==1.14.6 in /usr/local/lib/python3.6/dist-packages (1.14.6)
Requirement already satisfied: matplotlib==2.1.2 in /usr/local/lib/python3.6/dist-packages (2.1.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (2.4.6)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (2.6.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (1.12.0)
Requirement already satisfied: numpy>=1.7.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (1.14.6)
Requirement already satisfied: pytz in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (2018.9)

▲库的版本变更

In [2]:
import sys
import pandas
import numpy
import matplotlib
print('python version : ', sys.version_info[0:3])
print('pandas version : ', pandas.__version__)
print('numpy version : ', numpy.__version__)
print('matplotlib version : ', matplotlib.__version__)

python version :  (3, 6, 9)
pandas version :  0.22.0
numpy version :  1.14.6
matplotlib version :  2.1.2

▲Python和库的版本输出

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

▲预先执行的代码

In [4]:
val = [[8,7,6,],[8,7,6],[8,7,6]]
df = pd.DataFrame(val, index=list('edf') ,columns=list('abc'))
df

   a  b  c
e  8  7  6
d  8  7  6
f  8  7  6

▲程序清单 6.53 DataFrame 对象的创建

In [5]:
df.duplicated(keep='first')

e    False
d     True
f     True
dtype: bool

▲ 列表6.54:数据帧的`duplicated`方法

In [6]:
df.duplicated(keep='last')

e     True
d     True
f    False
dtype: bool

In [7]:
df.duplicated(keep=False)

e    True
d    True
f    True
dtype: bool

▲ 程序清单 6.55 duplicated 方法和 keep 参数（last 和 False）

In [8]:
df.loc['f', 'b'] = 5
df.duplicated(subset='a', keep=False)

e    True
d    True
f    True
dtype: bool

In [9]:
df.duplicated(subset='b', keep=False)

e     True
d     True
f    False
dtype: bool

▲ 程序清单 6.56 duplicated 方法和 subset 参数

In [10]:
df.duplicated(subset=['a','b'], keep=False)

e     True
d     True
f    False
dtype: bool

▲ 程序清单 6.57 duplicated 方法和 subset 参数（多个列）

In [11]:
df[df.duplicated(keep=False)]

   a  b  c
e  8  7  6
d  8  7  6

▲ 程序清单 6.58 从 DataFrame 对象引用重复的位置

In [12]:
df['a'].duplicated(keep=False)

e    True
d    True
f    True
Name: a, dtype: bool

▲ 程序清单 6.59 Series 类的 duplicated 方法

In [13]:
df.index = ['d','d','e']
df.index.duplicated(keep=False)

array([ True,  True, False])

▲ 程序清单 6.60 Index 对象的 duplicated 方法

In [14]:
#数据帧制作
val = [[8,7,6,],[8,7,6],[8,5,6]]
df = pd.DataFrame(val, index=list('edf') ,columns=list('abc'))
df

   a  b  c
e  8  7  6
d  8  7  6
f  8  5  6

▲程序清单 6.61 DataFrame 对象的创建

In [15]:
df.drop_duplicates(keep='first')

   a  b  c
e  8  7  6
f  8  5  6

▲ 程序清单 6.62 DataFrame 类的 drop_duplicates 方法

In [16]:
df.drop_duplicates(keep='last')

   a  b  c
d  8  7  6
f  8  5  6

In [17]:
df.drop_duplicates(keep=False)

   a  b  c
f  8  5  6

▲程序清单 6.63 drop_duplicates 方法的 keep 参数（last 和 False）

In [18]:
df.drop_duplicates(subset=['a','b'], keep=False)

   a  b  c
f  8  5  6

▲ 程序清单 6.64 drop_duplicates 方法的 subset 参数

In [19]:
df['b'].drop_duplicates(keep='first')

e    7
f    5
Name: b, dtype: int64

In [20]:
df.index = ['d','d','e']
df.index.drop_duplicates(keep='first')

Index(['d', 'e'], dtype='object')

▲程序清单 6.65 Series 对象和 Index 对象的 drop_duplicates 方法