In [1]:
!pip install pandas==0.22.0
!pip install numpy==1.14.6
!pip install matplotlib==2.1.2

Requirement already satisfied: pandas==0.22.0 in /usr/local/lib/python3.6/dist-packages (0.22.0)
Requirement already satisfied: python-dateutil>=2 in /usr/local/lib/python3.6/dist-packages (from pandas==0.22.0) (2.6.1)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas==0.22.0) (2018.9)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from pandas==0.22.0) (1.14.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2->pandas==0.22.0) (1.12.0)
Requirement already satisfied: numpy==1.14.6 in /usr/local/lib/python3.6/dist-packages (1.14.6)
Requirement already satisfied: matplotlib==2.1.2 in /usr/local/lib/python3.6/dist-packages (2.1.2)
Requirement already satisfied: pytz in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (2018.9)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (2.6.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (1.12.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (0.10.0)
Requirement already satisfied: numpy>=1.7.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (1.14.6)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (2.4.6)

▲库的版本变更

In [2]:
import sys
import pandas
import numpy
import matplotlib
print('python version : ', sys.version_info[0:3])
print('pandas version : ', pandas.__version__)
print('numpy version : ', numpy.__version__)
print('matplotlib version : ', matplotlib.__version__)

python version :  (3, 6, 9)
pandas version :  0.22.0
numpy version :  1.14.6
matplotlib version :  2.1.2

▲Python和库的版本输出

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

▲预先执行的代码

In [4]:
val = [[1,2,3],[4,5,6],[7,8,9]]
df = pd.DataFrame(val, index=[0,2,4], columns=list('def'))
df

   d  e  f
0  1  2  3
2  4  5  6
4  7  8  9

▲ 程序清单 3.1 DataFrame 对象的创建

In [5]:
print(df.loc[2])
print(df.iloc[2])

d    4
e    5
f    6
Name: 2, dtype: int64
d    7
e    8
f    9
Name: 4, dtype: int64

▲ 程序清单 3.2 DataFrame 对象的索引标签和行的位置索引

In [6]:
ser = pd.Series([1,2,3], index=[0,2,4])
ser

0    1
2    2
4    3
dtype: int64

In [7]:
print(ser.loc[2])
print(ser.iloc[2])

2
3

▲ 程序清单 3.3 Series 对象的索引标签和位置索引

In [8]:
val = np.arange(1,10).reshape(3,3)
df = pd.DataFrame(val, index=[0,2,4], columns=list('def'))
df

   d  e  f
0  1  2  3
2  4  5  6
4  7  8  9

▲ 程序清单 3.4 DataFrame 对象的创建

In [9]:
df['e']

0    2
2    5
4    8
Name: e, dtype: int64

In [10]:
df[['e','d']]

   e  d
0  2  1
2  5  4
4  8  7

▲ 程序清单 3.5 使用方括号（[ ]）选择列

In [11]:
df2 = pd.DataFrame(val, index=[0,5,10], columns=[0,2,4])
df2

    0  2  4
0   1  2  3
5   4  5  6
10  7  8  9

In [12]:
df2[2]

0     2
5     5
10    8
Name: 2, dtype: int64

▲ 程序清单 3.6 指定整数的列标签选择列

In [13]:
df2[0:2]

   0  2  4
0  1  2  3
5  4  5  6

▲ 程序清单 3.7 使用方括号（[ ]）和切片选择行

In [14]:
df[[True,False,True]]

   d  e  f
0  1  2  3
4  7  8  9

▲ 程序清单 3.8 使用 bool 类型数组选择行

In [15]:
val = np.arange(0,25).reshape(5,5)
df = pd.DataFrame(val, index=[10,5,2,12,6], columns=list('abcde'))
df

     a   b   c   d   e
10   0   1   2   3   4
5    5   6   7   8   9
2   10  11  12  13  14
12  15  16  17  18  19
6   20  21  22  23  24

▲ 程序清单 3.9 DataFrame 对象的创建

In [16]:
df[2:4]

     a   b   c   d   e
2   10  11  12  13  14
12  15  16  17  18  19

▲ 程序清单 3.10 方括号（[ ]）和切片

In [17]:
df[0:5:2]

     a   b   c   d   e
10   0   1   2   3   4
2   10  11  12  13  14
6   20  21  22  23  24

▲程序清单 3.11 切片和公差

In [18]:
df[::-1]

     a   b   c   d   e
6   20  21  22  23  24
12  15  16  17  18  19
2   10  11  12  13  14
5    5   6   7   8   9
10   0   1   2   3   4

▲ 程序清单 3.12 在公差中指定 –1，以相反的顺序选择数据

In [19]:
df.loc[2:6]

     a   b   c   d   e
2   10  11  12  13  14
12  15  16  17  18  19
6   20  21  22  23  24

▲ 程序清单 3.13 loc 属性和切片

In [20]:
df.loc[:, 'b':'e']

     b   c   d   e
10   1   2   3   4
5    6   7   8   9
2   11  12  13  14
12  16  17  18  19
6   21  22  23  24

▲ 程序清单 3.14 loc 属性和切片

In [21]:
df.iloc[2:4]

     a   b   c   d   e
2   10  11  12  13  14
12  15  16  17  18  19

▲ 程序清单 3.15 iloc 属性和切片

In [22]:
df.iloc[:, 1:4]

     b   c   d
10   1   2   3
5    6   7   8
2   11  12  13
12  16  17  18
6   21  22  23

▲ 程序清单 3.16 iloc 属性和切片

In [23]:
ser = pd.Series([1,2,3], index=list('abc'))
ser.a

1

▲ 程序清单 3.17 使用 Series 对象的属性引用数据

In [24]:
df = pd.DataFrame([[1,2,3],[4,5,6]], columns=list('abc'))
df.c

0    3
1    6
Name: c, dtype: int64

▲ 程序清单 3.18 使用 DataFrame 对象的属性引用数据

In [26]:
df = pd.DataFrame([[1,2,3],[4,5,6]], columns=[1,2,3])
df.1

SyntaxError: invalid syntax

SyntaxError: ignored

▲ 程序清单 3.19 属性引用造成的 SyntaxErro

In [27]:
df = pd.DataFrame([[1,2,3],[4,5,6]], columns=['height','weight','min'])
df.height

0    1
1    4
Name: height, dtype: int64

In [28]:
df.min

<bound method DataFrame.min of    height  weight  min
0       1       2    3
1       4       5    6>

▲ 程序清单 3.20 标签名与类方法名重复

In [29]:
df['min']

0    3
1    6
Name: min, dtype: int64

In [30]:
df.loc[:,'min']

0    3
1    6
Name: min, dtype: int64

▲ 程序清单 3.21 使用方括号（[ ]）和 loc 属性引用数据

In [31]:
df = pd.DataFrame([[1,2],[3,4],[5,6]])
df[[True,False,True]]

   0  1
0  1  2
2  5  6

▲ 程序清单 3.22 使用 bool 类型数组选择行

In [32]:
np.random.seed(seed=1)
val = np.random.randint(0,10,size=25).reshape(5,5)
val

array([[5, 8, 9, 5, 0],
       [0, 1, 7, 6, 9],
       [2, 4, 5, 2, 4],
       [2, 4, 7, 7, 9],
       [1, 7, 0, 6, 9]])

▲ 程序清单 3.23 NumPy 的 randint 函数

In [33]:
df = pd.DataFrame(val, columns=list('abcde'))
df

   a  b  c  d  e
0  5  8  9  5  0
1  0  1  7  6  9
2  2  4  5  2  4
3  2  4  7  7  9
4  1  7  0  6  9

▲ 程序清单 3.24 创建包含整数类型随机数的 DataFrame 对象

In [34]:
df['a'] > 3

0     True
1    False
2    False
3    False
4    False
Name: a, dtype: bool

▲ 程序清单 3.25 基于条件表达式生成包含 bool 类型值的 Series 对象

In [35]:
df[df['a'] > 3]

   a  b  c  d  e
0  5  8  9  5  0

▲ 程序清单 3.26 基于条件表达式的引用

In [36]:
df[(df['a'] > 1) & (df['b'] == 4)]

   a  b  c  d  e
2  2  4  5  2  4
3  2  4  7  7  9

▲ 程序清单 3.27 使用运算符“&”对多个条件表达式进行引用

In [37]:
df[(df['a'] > 1) | (df['b'] == 4)]

   a  b  c  d  e
0  5  8  9  5  0
2  2  4  5  2  4
3  2  4  7  7  9

▲ 程序清单 3.28 使用运算符“|”对多个条件表达式进行引用

In [38]:
df[~(df['a'] > 1)]

   a  b  c  d  e
1  0  1  7  6  9
4  1  7  0  6  9

▲ 程序清单 3.29 使用运算符“～”对多个条件表达式进行引用

In [39]:
ser = pd.Series([1,2,3,4,5])
ser[ser > 3]

3    4
4    5
dtype: int64

In [40]:
ser.where(ser > 3)

0    NaN
1    NaN
2    NaN
3    4.0
4    5.0
dtype: float64

▲ 程序清单 3.30 Series 对象的方括号（[ ]）引用与 where 方法引用的比较

In [41]:
np.random.seed(seed=1)
val = np.random.randint(0,10,size=25,).reshape(5,5)
df = pd.DataFrame(val, columns=list('abcde'))
df

   a  b  c  d  e
0  5  8  9  5  0
1  0  1  7  6  9
2  2  4  5  2  4
3  2  4  7  7  9
4  1  7  0  6  9

▲ 程序清单 3.31 DataFrame 对象的创建

In [42]:
df[df > 3]

     a    b    c    d    e
0  5.0  8.0  9.0  5.0  NaN
1  NaN  NaN  7.0  6.0  9.0
2  NaN  4.0  5.0  NaN  4.0
3  NaN  4.0  7.0  7.0  9.0
4  NaN  7.0  NaN  6.0  9.0

In [43]:
df.where(df > 3)

     a    b    c    d    e
0  5.0  8.0  9.0  5.0  NaN
1  NaN  NaN  7.0  6.0  9.0
2  NaN  4.0  5.0  NaN  4.0
3  NaN  4.0  7.0  7.0  9.0
4  NaN  7.0  NaN  6.0  9.0

▲ 程序清单 3.32 DataFrame 对象的方括号（[ ]）引用与 where 方法引用的比较

In [44]:
df = df.where(~(df == 0), other=-1)
df

   a  b  c  d  e
0  5  8  9  5 -1
1 -1  1  7  6  9
2  2  4  5  2  4
3  2  4  7  7  9
4  1  7 -1  6  9

▲ 程序清单 3.33 where 方法的 other 参数

In [45]:
df[df == -1] = 0
df

   a  b  c  d  e
0  5  8  9  5  0
1  0  1  7  6  9
2  2  4  5  2  4
3  2  4  7  7  9
4  1  7  0  6  9

▲ 程序清单 3.34 使用 bool 类型数组变更 DataFrame 对象的值

In [46]:
df.mask(df < 5)

     a    b    c    d    e
0  5.0  8.0  9.0  5.0  NaN
1  NaN  NaN  7.0  6.0  9.0
2  NaN  NaN  5.0  NaN  NaN
3  NaN  NaN  7.0  7.0  9.0
4  NaN  7.0  NaN  6.0  9.0

▲ 程序清单 3.35 DataFrame 对象的 mask 方法

In [47]:
df = pd.DataFrame([[1,2,3],[4,5,6]], index=[2,4], columns=list('cde'))
df

   c  d  e
2  1  2  3
4  4  5  6

▲ 程序清单 3.36 DataFrame 对象的创建

In [48]:
df.query('index > c')

   c  d  e
2  1  2  3

▲ 程序清单 3.37 DataFrame 对象的 query 方法

In [49]:
df.index.name = 'index_name'
df.query('index_name > c')

            c  d  e
index_name
2           1  2  3

▲ 程序清单 3.38 query 方法与索引的 name 属性

In [50]:
scores = [[76,86,90],[91,78,80],[88,76,76]]
names = ['A','B','C']
subjects = ['数学','英语','物理']
df = pd.DataFrame(scores, index=subjects, columns=names)
df

     A   B   C
数学  76  86  90
英语  91  78  80
物理  88  76  76

▲ 程序清单 3.39 DataFrame 对象的创建

In [51]:
df.query('A > B')

     A   B   C
英语  91  78  80
物理  88  76  76

▲ 程序清单 3.40 使用 query 方法和条件表达式进行引用

In [52]:
df[df['A'] > df['B']]

     A   B   C
英语  91  78  80
物理  88  76  76

▲ 程序清单 3.41 使用条件表达式和方括号（[ ]）进行引用

In [53]:
df.query('(A > B) & (A > C)')

     A   B   C
英语  91  78  80
物理  88  76  76

▲ 程序清单 3.42 query 方法与运算符“&”

In [54]:
df[(df['A'] > df['B']) & (df['A'] > df['C'])]

     A   B   C
英语  91  78  80
物理  88  76  76

▲ 程序清单 3.43 使用条件表达式和方括号（[ ]）进行引用

In [55]:
df.query('A > C > B')

     A   B   C
英语  91  78  80

In [56]:
df.query('(A > C) & (C > B)')

     A   B   C
英语  91  78  80

▲ 程序清单 3.44 使用多个条件表达式进行引用

In [57]:
df.query('A == [76, 91]')

     A   B   C
数学  76  86  90
英语  91  78  80

▲ 程序清单 3.45 使用多个值进行数据引用