In [1]:
!pip install pandas==0.22.0
!pip install numpy==1.14.6
!pip install matplotlib==2.1.2

Requirement already satisfied: pandas==0.22.0 in /usr/local/lib/python3.6/dist-packages (0.22.0)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from pandas==0.22.0) (1.14.6)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas==0.22.0) (2018.9)
Requirement already satisfied: python-dateutil>=2 in /usr/local/lib/python3.6/dist-packages (from pandas==0.22.0) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2->pandas==0.22.0) (1.12.0)
Requirement already satisfied: numpy==1.14.6 in /usr/local/lib/python3.6/dist-packages (1.14.6)
Requirement already satisfied: matplotlib==2.1.2 in /usr/local/lib/python3.6/dist-packages (2.1.2)
Requirement already satisfied: pytz in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (2018.9)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (1.12.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (2.4.6)
Requirement already satisfied: numpy>=1.7.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (1.14.6)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (2.8.1)

▲库的版本变更

In [2]:
import sys
import pandas
import numpy
import matplotlib
print('python version : ', sys.version_info[0:3])
print('pandas version : ', pandas.__version__)
print('numpy version : ', numpy.__version__)
print('matplotlib version : ', matplotlib.__version__)

python version :  (3, 6, 9)
pandas version :  0.22.0
numpy version :  1.14.6
matplotlib version :  2.1.2

▲Python和库的版本输出

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

▲预先执行的代码

In [4]:
ls

data.zip  sample_data/

In [5]:
!unzip data.zip

Archive:  data.zip
  inflating: data/adult.csv
  inflating: data/ex1.csv
  inflating: data/ex10.csv
  inflating: data/ex11.csv
  inflating: data/ex12.xlsx
 extracting: data/ex13.json
  inflating: data/ex14.hdf5
  inflating: data/ex15.csv
  inflating: data/ex16.csv
  inflating: data/ex17.csv
  inflating: data/ex18.csv
  inflating: data/ex19.csv
  inflating: data/ex2.csv
  inflating: data/ex20.csv
  inflating: data/ex3.csv
  inflating: data/ex4.csv
  inflating: data/ex5.csv
 extracting: data/ex6.csv
  inflating: data/ex7.csv
  inflating: data/ex8.csv
  inflating: data/ex9.csv
 extracting: data/out1.csv
 extracting: data/out2.csv
 extracting: data/out3.csv
  inflating: data/out4.xlsx
  inflating: data/out5.json

In [6]:
ls

data/  data.zip  sample_data/

In [7]:
cd data

/content/data

In [8]:
ls

adult.csv  ex13.json  ex17.csv  ex20.csv  ex5.csv  ex9.csv   out4.xlsx
ex10.csv   ex14.hdf5  ex18.csv  ex2.csv   ex6.csv  out1.csv  out5.json
ex11.csv   ex15.csv   ex19.csv  ex3.csv   ex7.csv  out2.csv
ex12.xlsx  ex16.csv   ex1.csv   ex4.csv   ex8.csv  out3.csv

▲Google Colab中示例程序的设置

In [9]:
df = pd.read_csv('../data/ex1.csv')
df

    a   b   c   d   e
0  37  12  72   9  75
1   5  79  64  16   1
2  76  71   6  25  50
3  20  18  84  11  28
4  29  14  50  68  87

▲ 程序清单 3.46 read_csv 函数

In [10]:
pd.read_csv('../data/ex1.csv', header=2)

    5  79  64  16   1
0  76  71   6  25  50
1  20  18  84  11  28
2  29  14  50  68  87

▲ 程序清单 3.47 read_csv 函数和 header 参数（整数）

In [11]:
pd.read_csv('../data/ex1.csv', header=None)

    0   1   2   3   4
0   a   b   c   d   e
1  37  12  72   9  75
2   5  79  64  16   1
3  76  71   6  25  50
4  20  18  84  11  28
5  29  14  50  68  87

▲ 程序清单 3.48 read_csv 函数和 header 参数（None）

In [12]:
pd.read_csv('../data/ex1.csv', header=None, names=list('アイウエオ'))

    啊  咦   唔   呃   哦
0   a   b   c   d   e
1  37  12  72   9  75
2   5  79  64  16   1
3  76  71   6  25  50
4  20  18  84  11  28
5  29  14  50  68  87

▲ 程序清单 3.49 read_csv 函数和 names 参数

In [13]:
pd.read_csv('../data/ex2.csv', index_col='name')

      height  weight     sex   stay
name
a        161      54  Female   True
b        180      87    Male  False
c        159      49  Female    Yes
d        178      73    Male     No
e        167      67    Male     No

▲ 程序清单 3.50 read_csv 函数和 index_col 参数（列标签）

In [14]:
pd.read_csv('../data/ex2.csv', index_col=3)

       name  height  weight   stay
sex
Female    a     161      54   True
Male      b     180      87  False
Female    c     159      49    Yes
Male      d     178      73     No
Male      e     167      67     No

▲ 程序清单 3.51 read_csv 函数和 index_col 参数（位置索引）

In [15]:
pd.read_csv('../data/ex2.csv', index_col=['name','sex'])

             height  weight   stay
name sex
a    Female     161      54   True
b    Male       180      87  False
c    Female     159      49    Yes
d    Male       178      73     No
e    Male       167      67     No

▲ 程序清单 3.52 read_csv 函数和 index_col 参数（多个标签）

In [16]:
pd.read_csv('../data/ex2.csv', usecols=['name','weight'])

  name  weight
0    a      54
1    b      87
2    c      49
3    d      73
4    e      67

▲ 程序清单 3.53 read_csv 函数和 usecols 参数

In [17]:
pd.read_csv('../data/ex2.csv', usecols=['weight'], squeeze=True)

0    54
1    87
2    49
3    73
4    67
Name: weight, dtype: int64

▲ 程序清单 3.54 read_csv 函数和 squeeze 参数

In [18]:
pd.read_csv('../data/ex2.csv', header=None, skiprows=2)

   0    1   2       3      4
0  b  180  87    Male  False
1  c  159  49  Female    Yes
2  d  178  73    Male     No
3  e  167  67    Male     No

▲ 程序清单 3.55 read_csv 函数和 skiprows 参数

In [19]:
pd.read_csv('../data/ex2.csv', skiprows=[1,3,5])

  name  height  weight   sex   stay
0    b     180      87  Male  False
1    d     178      73  Male     No

▲ 程序清单 3.56 read_csv 函数和 skiprows 参数（多个）

In [20]:
pd.read_csv('../data/ex2.csv', skipfooter=1, engine='python')

  name  height  weight     sex   stay
0    a     161      54  Female   True
1    b     180      87    Male  False
2    c     159      49  Female    Yes
3    d     178      73    Male     No

▲ 程序清单 3.57 read_csv 函数和 skipfooter 参数

In [21]:
pd.read_csv('../data/ex2.csv', nrows=3)

  name  height  weight     sex   stay
0    a     161      54  Female   True
1    b     180      87    Male  False
2    c     159      49  Female    Yes

▲ 程序清单 3.58 read_csv 函数和 nrows 参数

In [22]:
df = pd.read_csv('../data/ex2.csv', dtype='object')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
name      5 non-null object
height    5 non-null object
weight    5 non-null object
sex       5 non-null object
stay      5 non-null object
dtypes: object(5)
memory usage: 280.0+ bytes

▲ 程序清单 3.59 read_csv 函数和 dtype 参数（object）

In [23]:
dtype_dict = {'height':'int16','weight':'int8','sex':'category'}
df = pd.read_csv('../data/ex2.csv', dtype=dtype_dict)
df[['height','weight','sex']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
height    5 non-null int16
weight    5 non-null int8
sex       5 non-null category
dtypes: category(1), int16(1), int8(1)
memory usage: 116.0 bytes

▲ 程序清单 3.60 read_csv 函数和 dtype 参数（字典）

In [24]:
df = pd.read_csv('../data/ex2.csv')
df['stay'].apply(type)

0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
Name: stay, dtype: object

In [25]:
df = pd.read_csv('../data/ex2.csv', nrows=2)
df['stay'].apply(type)

0    <class 'bool'>
1    <class 'bool'>
Name: stay, dtype: object

▲ 程序清单 3.61 使用 read_csv 函数读取 bool 类型值

In [26]:
df = pd.read_csv(
    '../data/ex2.csv',
    true_values=['Yes'],
    false_values=['No']
)

df['stay'].apply(type)

0    <class 'bool'>
1    <class 'bool'>
2    <class 'bool'>
3    <class 'bool'>
4    <class 'bool'>
Name: stay, dtype: object

▲ 程序清单 3.62 read_csv 函数、true_values 参数和 false_values 参数

In [27]:
df = pd.read_csv('../data/ex3.csv')
df

      date   time    city  sales
0  2019-01  19:00   Tokyo    100
1  2019-02  20:00   Tokyo    120
2  2019-03  21:00   Osaka     90
3  2019-04  22:00  Nagoya     85
4  2019-05  23:00   Osaka    115

In [28]:
df['date'].apply(type)

0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
Name: date, dtype: object

▲ 程序清单 3.63 使用 read_csv 函数读取时间序列的数据

In [29]:
df = pd.read_csv('../data/ex3.csv', parse_dates=['date'])
df['date']

0   2019-01-01
1   2019-02-01
2   2019-03-01
3   2019-04-01
4   2019-05-01
Name: date, dtype: datetime64[ns]

▲ 程序清单 3.64 read_csv 函数和 parse_dates 参数

In [30]:
df = pd.read_csv('../data/ex3.csv', parse_dates=[['date','time']])
df

            date_time    city  sales
0 2019-01-01 19:00:00   Tokyo    100
1 2019-02-01 20:00:00   Tokyo    120
2 2019-03-01 21:00:00   Osaka     90
3 2019-04-01 22:00:00  Nagoya     85
4 2019-05-01 23:00:00   Osaka    115

In [31]:
df['date_time']

0   2019-01-01 19:00:00
1   2019-02-01 20:00:00
2   2019-03-01 21:00:00
3   2019-04-01 22:00:00
4   2019-05-01 23:00:00
Name: date_time, dtype: datetime64[ns]

▲ 程序清单 3.65 read_csv 函数和 parse_dates 参数（多个列的连接）

In [32]:
['-1.#IND', '1.#QNAN', '1.#IND', '-1.#QNAN',
 '#N/A N/A', '#N/A', 'N/A', 'n/a', 'NA','#NA',
 'NULL', 'null', 'NaN', '-NaN', 'nan', '-nan', '']

['-1.#IND',
 '1.#QNAN',
 '1.#IND',
 '-1.#QNAN',
 '#N/A N/A',
 '#N/A',
 'N/A',
 'n/a',
 'NA',
 '#NA',
 'NULL',
 'null',
 'NaN',
 '-NaN',
 'nan',
 '-nan',
 '']

▲ 程序清单 3.66 read_csv 函数会作为缺失数据识别的字符串一览表（默认值）

In [33]:
df = pd.read_csv('../data/ex4.csv')
df

  name  math   eng
0    a  82.0     ?
1    b   NaN    76
2    c  76.0    91
3    d   NaN  None
4    e  89.0    81
5    f   NaN   NaN

▲ 程序清单 3.67 read_csv 函数和缺失数据（默认值）

In [34]:
df.isna()

    name   math    eng
0  False  False  False
1  False   True  False
2  False  False  False
3  False   True  False
4  False  False  False
5  False   True   True

▲ 程序清单 3.68 使用 isna 方法找出缺失数据

In [35]:
pd.read_csv('../data/ex4.csv', na_values=['None','?'])

  name  math   eng
0    a  82.0   NaN
1    b   NaN  76.0
2    c  76.0  91.0
3    d   NaN   NaN
4    e  89.0  81.0
5    f   NaN   NaN

▲ 程序清单 3.69 read_csv 函数和 na_values 参数

In [36]:
pd.read_csv('../data/ex5.csv')

ParserError: ignored

▲ 程序清单 3.70 read_csv 函数的 ParserError 错误

In [37]:
pd.read_csv('../data/ex5.csv', skiprows=[2])

     a    b    c    d
0   10    5   12  NaN
1  red  red  red  red

▲ 程序清单 3.71 相对列标签，少了列数的位置

In [38]:
pd.read_csv('../data/ex5.csv', usecols=['a','b','c','d'])

     a    b    c    d
0   10    5   12  NaN
1    2    4    6    7
2  red  red  red  red

▲ 程序清单 3.72 read_csv 函数和 usecols 参数

In [39]:
pd.read_csv('../data/ex5.csv',
            error_bad_lines=False,
            warn_bad_lines=True)

b'Skipping line 3: expected 4 fields, saw 5\n'

     a    b    c    d
0   10    5   12  NaN
1  red  red  red  red

▲ 程序清单 3.73 read_csv 函数的 error_bad_lines 参数和 warn_bad_lines 参数

In [40]:
with open('../data/ex6.csv', encoding='UTF-8') as file:
    print(file.read())

a,b,c,d
1,2,3,4,
5,6,7,8,

▲ 程序清单 3.74 使用 Python 的 open 函数浏览 CSV 文件

In [41]:
pd.read_csv('../data/ex6.csv')

   a  b  c   d
1  2  3  4 NaN
5  6  7  8 NaN

▲ 程序清单 3.75 读取行的末尾存在分隔符的文件

In [42]:
pd.read_csv('../data/ex6.csv', index_col=False)

   a  b  c  d
0  1  2  3  4
1  5  6  7  8

▲ 程序清单 3.75 读取行的末尾存在分隔符的文件

In [43]:
pd.read_csv('../data/ex7.csv', mangle_dupe_cols=True)

  sex  weight   sex.1
0   F      57  Female
1   M      82    Male
2   F      61  Female

▲ 程序清单 3.77 read_csv 函数和 mangle_dupe_cols 参数

In [44]:
with open('../data/ex8.csv', encoding='UTF-8') as file:
    print(file.read())

name,height
a,161
#到此为止，为女性
b,172

c,181
#到此为止，为男性

▲ 程序清单 3.78 使用 open 函数浏览 CSV 文件

In [45]:
pd.read_csv('../data/ex8.csv', skip_blank_lines=False)

      name  height
0        a   161.0
1  #到此为止，为女性     NaN
2        b   172.0
3      NaN     NaN
4        c   181.0
5  #到此为止，为男性     NaN

▲ 程序清单 3.79 读取包含注释行和空白行的 CSV 文件

In [46]:
pd.read_csv('../data/ex8.csv', comment='#', skip_blank_lines=True)

  name  height
0    a     161
1    b     172
2    c     181

▲ 程序清单 3.80 read_csv 函数的 comment 参数和 skip_blank_lines 参数

In [47]:
with open('../data/ex9.csv', encoding='UTF-8') as file:
    print(file.read())

Location|sales
Tokyo|1200000
Osaka|900000
Sapporo|100000

▲ 程序清单 3.81 使用 open 函数浏览 CSV 文件

In [48]:
pd.read_csv('../data/ex9.csv', sep='|')

  Location    sales
0    Tokyo  1200000
1    Osaka   900000
2  Sapporo   100000

▲ 程序清单 3.82 read_csv 函数和 sep 参数

In [49]:
with open('../data/ex10.csv', encoding='UTF-8') as file:
    print(file.read())

Location	sales
Tokyo	1200000
Osaka	900000
Sapporo	100000

In [50]:
pd.read_csv('../data/ex10.csv', sep='\t')

  Location    sales
0    Tokyo  1200000
1    Osaka   900000
2  Sapporo   100000

▲ 程序清单 3.83 read_csv 函数和 sep 参数（正则表达式）

In [51]:
pd.read_table('../data/ex10.csv')

  Location    sales
0    Tokyo  1200000
1    Osaka   900000
2  Sapporo   100000

▲ 程序清单 3.84 使用 read_table 函数读取 CSV 文件

In [52]:
df = pd.read_csv('../data/ex11.csv', sep='\t')
df

  Location      sales
0    Tokyo  1,200,000
1    Osaka    900,000
2  Sapporo    100,000

In [53]:
df['sales'].apply(type)

0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
Name: sales, dtype: object

▲ 程序清单 3.85 读取包含 3 位一隔数字的数据

In [54]:
df = pd.read_csv('../data/ex11.csv', sep='\t', thousands=',')
df['sales'].apply(type)

0    <class 'int'>
1    <class 'int'>
2    <class 'int'>
Name: sales, dtype: object

▲ 程序清单 3.86 read_csv 函数和 thousands 参数

In [55]:
df = pd.DataFrame([[1,2,3],[4,5,6]], columns=list('abc'))
df

   a  b  c
0  1  2  3
1  4  5  6

In [0]:
df.to_csv('../data/out1.csv')

▲ 程序清单 3.87 DataFrame 对象的 to_csv 方法

In [57]:
pd.read_csv('../data/out1.csv')

   Unnamed: 0  a  b  c
0           0  1  2  3
1           1  4  5  6

▲ 程序清单 3.88 DataFrame 对象的 read_csv 函数

In [58]:
df.to_csv('../data/out1.csv', index=False)
pd.read_csv('../data/out1.csv')

   a  b  c
0  1  2  3
1  4  5  6

▲ 程序清单 3.89 to_csv 方法和 index 参数

In [59]:
df.to_csv('../data/out2.csv', header=False, index=False)

with open('../data/out2.csv', encoding='UTF-8') as file:
    print(file.read())

1,2,3
4,5,6

▲ 程序清单 3.90 to_csv 方法和 header 参数

In [60]:
print(df.to_csv(index=False, sep='\t'))
print(df.to_csv(index=False, sep='|'))

a	b	c
1	2	3
4	5	6

a|b|c
1|2|3
4|5|6

▲ 程序清单 3.91 to_csv 方法和 sep 参数

In [61]:
print(df.to_csv(index=False, columns=['a','c']))

a,c
1,3
4,6

▲ 程序清单 3.92 to_csv 方法和 columns 参数

In [62]:
df.index = ['d', 'e']
df

   a  b  c
d  1  2  3
e  4  5  6

In [63]:
df.to_csv('../data/out3.csv', index=True, index_label='index_labels')
pd.read_csv('../data/out3.csv')

  index_labels  a  b  c
0            d  1  2  3
1            e  4  5  6

▲ 程序清单 3.93 to_csv 方法和 index_label 参数

In [64]:
pd.read_excel('../data/ex12.xlsx')

  employee_name  age sex         division
0             a   22  男性        logistics
1             b   31  女性        marketing
2             c   29  女性  human resources
3             d   18  男性            sales
4             e   27  女性        logistics

▲ 程序清单 3.94 read_excel 函数

In [65]:
employees = pd.read_excel('../data/ex12.xlsx', sheet_name='employees')
employees

  employee_name  age sex         division
0             a   22  男性        logistics
1             b   31  女性        marketing
2             c   29  女性  human resources
3             d   18  男性            sales
4             e   27  女性        logistics

In [66]:
div = pd.read_excel('../data/ex12.xlsx', sheet_name='div')
div

          division location
0            sales       2F
1  human resources       2F
2        marketing       3F
3        logistics       1F

▲ 程序清单 3.95 read_excel 函数和 sheet_name 参数

In [67]:
pd.read_excel('../data/ex12.xlsx', sheet_name='employees', usecols=[0,2])

  employee_name sex
0             a  男性
1             b  女性
2             c  女性
3             d  男性
4             e  女性

▲ 程序清单 3.96 read_excel 函数和 usecols 参数

在执行列表3.97之前，在Google Colab的单元格上进行y

```
!pip install xlsxwriter
!pip install openpyxl
```

实行

In [68]:
df = pd.DataFrame([[1,2,3],[4,5,6]], columns=list('abc'))
df

   a  b  c
0  1  2  3
1  4  5  6

In [0]:
df.to_excel('../data/out4.xlsx', sheet_name='out4_sheet1')

▲ 程序清单 3.97 DataFrame 对象的 to_excel 方法

In [70]:
pd.read_excel('../data/out4.xlsx')

   a  b  c
0  1  2  3
1  4  5  6

▲ 程序清单 3.98 read_excel 函数

In [71]:
excel = pd.ExcelFile('../data/ex12.xlsx')
excel

▲ 程序清单 3.99 ExcelFile 类的实例

In [72]:
excel.sheet_names

['employees', 'div']

▲ 程序清单 3.100 ExcelFile 类的 sheet_names 属性

In [73]:
with pd.ExcelFile('../data/ex12.xlsx') as excel:
    employees = pd.read_excel(excel, 'employees')
    div = pd.read_excel(excel, 'div')
    combined = employees.merge(div, on='division')
    
combined

  employee_name  age sex         division location
0             a   22  男性        logistics       1F
1             e   27  女性        logistics       1F
2             b   31  女性        marketing       3F
3             c   29  女性  human resources       2F
4             d   18  男性            sales       2F

▲ 程序清单 3.101 ExcelFile 类和 with 语句

In [74]:
val = [['male',22],['female',19]]
df = pd.DataFrame(val, index=['a','b'],columns=['sex','age'])
df

      sex  age
a    male   22
b  female   19

▲ 程序清单 3.102 DataFrame 对象的创建

In [75]:
df.to_json(orient='columns')

'{"sex":{"a":"male","b":"female"},"age":{"a":22,"b":19}}'

▲ 程序清单 3.103 DataFrame 对象的 to_json 方法

In [76]:
df.to_json(orient='table')

'{"schema": {"fields":[{"name":"index","type":"string"},{"name":"sex","type":"string"},{"name":"age","type":"integer"}],"primaryKey":["index"],"pandas_version":"0.20.0"}, "data": [{"index":"a","sex":"male","age":22},{"index":"b","sex":"female","age":19}]}'

▲ 程序清单 3.104 to_json 方法和 orient 参数（table）

In [77]:
df['age'].to_json(orient='index')

'{"a":22,"b":19}'

▲ 程序清单 3.105 Series 类的 to_json 方法

In [0]:
df.to_json('../data/out5.json', orient='columns')

In [79]:
with open('../data/out5.json', encoding='UTF-8') as file:
    print(file.read())

{"sex":{"a":"male","b":"female"},"age":{"a":22,"b":19}}

▲ 程序清单 3.106 使用 to_json 方法保存 JSON 文件

In [80]:
df['bdate'] = pd.Timestamp('20190101')
df

      sex  age      bdate
a    male   22 2019-01-01
b  female   19 2019-01-01

▲ 程序清单 3.107 添加日期类型

In [81]:
df.to_json(orient='columns', date_format='epoch')

'{"sex":{"a":"male","b":"female"},"age":{"a":22,"b":19},"bdate":{"a":1546300800000,"b":1546300800000}}'

In [82]:
df.to_json(orient='columns', date_format='iso')

'{"sex":{"a":"male","b":"female"},"age":{"a":22,"b":19},"bdate":{"a":"2019-01-01T00:00:00.000Z","b":"2019-01-01T00:00:00.000Z"}}'

▲ 程序清单 3.108 to_json 方法和 date_format 参数

In [83]:
df2 = df.copy()
df2.loc['a','sex'] = None
df2.loc['b','age'] = np.nan
df2.loc['a','bdate'] = np.nan
df2

      sex   age      bdate
a    None  22.0        NaT
b  female   NaN 2019-01-01

In [84]:
df2.to_json(orient='columns')

'{"sex":{"a":null,"b":"female"},"age":{"a":22.0,"b":null},"bdate":{"a":null,"b":1546300800000}}'

▲ 程序清单 3.109 使用 to_json 方法查看缺失数据的处理

In [85]:
with open('../data/out5.json', encoding='UTF-8') as file:
    print(file.read())

{"sex":{"a":"male","b":"female"},"age":{"a":22,"b":19}}

In [86]:
pd.read_json('../data/out5.json', typ='frame')

   age     sex
a   22    male
b   19  female

▲ 程序清单 3.110 使用 read_json 函数（默认）将 JSON 文件转换成 DataFrame对象

In [87]:
pd.read_json('../data/out5.json', typ='frame', orient='index')

        a       b
age    22      19
sex  male  female

▲ 程序清单 3.111 使用 read_json 函数的 orient 参数（index）将 JSON 文件转换成 DataFrame 对象

In [88]:
with open('../data/ex13.json', encoding='UTF-8') as file:
    print(file.read())

{"a":22,"b":31,"c":19}

In [89]:
pd.read_json('../data/ex13.json', typ='series', orient='index')

a    22
b    31
c    19
dtype: int64

▲ 程序清单 3.112 使用 read_json 函数的 orient 参数（index）将 JSON 文件转换成 Series 对象

In [90]:
df = pd.read_json('../data/out5.json', dtype=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, a to b
Data columns (total 2 columns):
age    2 non-null int64
sex    2 non-null object
dtypes: int64(1), object(1)
memory usage: 48.0+ bytes

In [91]:
df = pd.read_json('../data/out5.json', dtype={'age':np.int8})
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, a to b
Data columns (total 2 columns):
age    2 non-null int8
sex    2 non-null object
dtypes: int8(1), object(1)
memory usage: 34.0+ bytes

▲ 程序清单 3.113 read_json 函数和 dtype 参数

In [92]:
df = pd.DataFrame([['啊',1],['咦',2]],columns=list('ab'))
df

   a  b
0  啊  1
1  咦  2

▲ 程序清单 3.114 DataFrame 对象的创建

In [93]:
hdf = pd.HDFStore('../data/out7.hdf5')
hdf

<class 'pandas.io.pytables.HDFStore'>
File path: ../data/out7.hdf5

▲程序清单 3.115 HDFStore 对象的实例

In [0]:
hdf.put(key='add_df', value=df)

▲ 程序清单 3.116 HDFStore 对象与 put 方法

In [0]:
ser = pd.Series([1,3,5,7],index=list('abcd'))
hdf['add_ser'] = ser

▲ 程序清单 3.117 HDFStore 对象和方括号（[ ]）

In [0]:
df2 = pd.DataFrame([[0.1,2,3],[0.5,4,5]], columns=list('abc'))
df2.to_hdf('../data/out7.hdf5', key='add_df2')

▲ 程序清单 3.118 DataFrame 对象的 to_hdf 方法

In [97]:
hdf.get(key='add_df2')

     a  b  c
0  0.1  2  3
1  0.5  4  5

▲ 程序清单 3.119 HDFStore 对象的 get 方法

In [98]:
pd.read_hdf('../data/ex14.hdf5', key='out8')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

▲程序清单 3.120 read_hdf 函数

In [99]:
pd.read_hdf('../data/ex14.hdf5', key='out8', start=1, stop=3)

   a  b   c   d
1  4  5   6   7
2  8  9  10  11

▲ 程序清单 3.121 read_hdf 函数的 start 参数和 stop 参数

In [100]:
hdf = pd.HDFStore('../data/ex14.hdf5', format='table')
hdf.get('out8')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [101]:
hdf['out8']

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

▲程序清单 3.122 HDFStore 对象的 get 方法和方括号（[ ]）

In [0]:
df = pd.DataFrame([[0.9,6,7]], columns=list('abc'))
df.to_hdf('../data/out9.hdf5', key='add_df', format='table')

In [103]:
pd.read_hdf('../data/out9.hdf5', key='add_df')

     a  b  c
0  0.9  6  7

▲ 程序清单 3.123 to_hdf 方法和 format 参数

In [0]:
df2 = pd.DataFrame([[1.3,8,8]], columns=list('abc'))
df2.to_hdf('../data/out9.hdf5', key='add_df', format='table', append=True)

In [105]:
pd.read_hdf('../data/out9.hdf5', key='add_df')

     a  b  c
0  0.9  6  7
0  1.3  8  8

▲ 程序清单 3.124 to_hdf 方法和 append 参数

In [106]:
df3 = pd.DataFrame([[1,2],[3,4]], columns=list('ab'))
df3.loc[0,:] = np.nan
df3.to_hdf('../data/out9.hdf5', key='add_df3', format='table', dropna=True)
df3

     a    b
0  NaN  NaN
1  3.0  4.0

In [107]:
pd.read_hdf('../data/out9.hdf5', key='add_df3')

     a    b
1  3.0  4.0

▲ 程序清单 3.125 to_hdf 方法和 dropna 参数

In [108]:
pd.read_hdf('../data/out9.hdf5', key='add_df', columns=['a','c'])

     a  c
0  0.9  7
0  1.3  8

▲ 程序清单 3.126 read_hdf 方法和 columns 参数

In [109]:
hdf = pd.HDFStore('../data/out9.hdf5')
hdf.select(key='add_df', columns=['a','c'])

     a  c
0  0.9  7
0  1.3  8

▲ 程序清单 3.127 HDFStore 对象的 select 方法和 columns 参数