In [1]:
!pip install pandas==0.22.0
!pip install numpy==1.14.6
!pip install matplotlib==2.1.2

Requirement already satisfied: pandas==0.22.0 in /usr/local/lib/python3.6/dist-packages (0.22.0)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas==0.22.0) (2018.9)
Requirement already satisfied: python-dateutil>=2 in /usr/local/lib/python3.6/dist-packages (from pandas==0.22.0) (2.8.1)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from pandas==0.22.0) (1.14.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2->pandas==0.22.0) (1.12.0)
Requirement already satisfied: numpy==1.14.6 in /usr/local/lib/python3.6/dist-packages (1.14.6)
Requirement already satisfied: matplotlib==2.1.2 in /usr/local/lib/python3.6/dist-packages (2.1.2)
Requirement already satisfied: numpy>=1.7.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (1.14.6)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (2.8.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (1.12.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (2.4.7)
Requirement already satisfied: pytz in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (2018.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2) (0.10.0)

▲库的版本变更

In [2]:
import sys
import pandas
import numpy
import matplotlib
print('python version : ', sys.version_info[0:3])
print('pandas version : ', pandas.__version__)
print('numpy version : ', numpy.__version__)
print('matplotlib version : ', matplotlib.__version__)

python version :  (3, 6, 9)
pandas version :  0.22.0
numpy version :  1.14.6
matplotlib version :  2.1.2

▲Python和库的版本输出

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

▲预先执行的代码

In [4]:
df = pd.DataFrame([[1,2],[3,4]], columns=['a','b'])
df

   a  b
0  1  2
1  3  4

In [5]:
df['c'] = [1,2]
df['d'] = 3
df.loc[:,'e'] = [5,6]
df

   a  b  c  d  e
0  1  2  1  3  5
1  3  4  2  3  6

▲ 程序清单 5.1 使用方括号（[ ]）和 loc 属性添加新的列

In [6]:
df2 = pd.DataFrame([[1,2],[3,4]])
df2.iloc[:, 2] = [5,6]

IndexError: ignored

▲ 程序清单 5.2 iloc 属性和扩展代入

In [7]:
df = df.assign(f=[7,8])
df

   a  b  c  d  e  f
0  1  2  1  3  5  7
1  3  4  2  3  6  8

▲ 程序清单 5.3 DataFrame 类的 assign 方法

In [8]:
df = df.assign(g=9,h=10)
df

   a  b  c  d  e  f  g   h
0  1  2  1  3  5  7  9  10
1  3  4  2  3  6  8  9  10

▲ 程序清单 5.4 DataFrame 类的 assign 方法（多个）

In [9]:
df.loc[2] = list(range(8))
df

   a  b  c  d  e  f  g   h
0  1  2  1  3  5  7  9  10
1  3  4  2  3  6  8  9  10
2  0  1  2  3  4  5  6   7

▲ 程序清单 5.5 使用 loc 属性添加新的行

In [10]:
df = pd.DataFrame([[1,2],[3,4]], columns=['a','b'])
df

   a  b
0  1  2
1  3  4

In [11]:
df2 = pd.DataFrame([[5,6]], columns=list('ab'))
df2

   a  b
0  5  6

In [12]:
df.append(df2)

   a  b
0  1  2
1  3  4
0  5  6

▲ 程序清单 5.6 DataFrame 类的 append 方法

In [13]:
df.append(df2, ignore_index=True)

   a  b
0  1  2
1  3  4
2  5  6

▲ 程序清单 5.7 append 方法的 ignore_index 参数

In [14]:
df3 = pd.DataFrame([[7,8,9]],columns=['a','b','c'])
df.append(df3)

   a  b    c
0  1  2  NaN
1  3  4  NaN
0  7  8  9.0

▲ 程序清单 5.8 添加不同列标签的 DataFrame 对象

In [15]:
val = np.arange(0,12).reshape(3,4)
df = pd.DataFrame(val, columns=list('abcd'))
del df['d']
df

   a  b   c
0  0  1   2
1  4  5   6
2  8  9  10

▲ 程序清单 5.9 使用 del 语句删除列

In [16]:
df.drop(labels='b', axis=1)

   a   c
0  0   2
1  4   6
2  8  10

▲ 程序清单 5.10 DataFrame 类的 drop 方法（axis=1）

In [17]:
df.drop(labels=2, axis=0)

   a  b  c
0  0  1  2
1  4  5  6

▲ 程序清单 5.11 DataFrame 类的 drop 方法（axis=0）

In [18]:
df.drop(columns=['a','c'])

   b
0  1
1  5
2  9

▲ 程序清单 5.11 DataFrame 类的 drop 方法（axis=0）

In [19]:
df.drop(index=2)

   a  b  c
0  0  1  2
1  4  5  6

▲ 程序清单 5.13 drop 方法的 index 参数

In [20]:
popped = df.pop('c')
popped

0     2
1     6
2    10
Name: c, dtype: int64

▲ 程序清单 5.14 DataFrame 类的 pop 方法

In [21]:
df = pd.DataFrame([[1,2,3,],[4,5,6],[7,8,9]], columns=list('abc'))
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [22]:
df = df.loc[[0,2],'a':'b']
df

   a  b
0  1  2
2  7  8

▲程序清单 5.15 使用索引引用删除行和列